html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07D2B9;
    width: 100%;
    height: 96px;
}

#title {
    color: #FFF;
}

#container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 70%;
    max-width: 820px;
    min-width: 600px;
    min-height: 600px;
    margin: auto;
    background-color: #FFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
}

#to-do-list {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#to-do-list::-webkit-scrollbar { 
	display: none;
}

#to-do-list .task {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    height: 68px;
    border-top: 1px solid #DFD9D9;
    border-bottom: 1px solid #DFD9D9;
}

#to-do-list .task:hover {
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.25);
}

#to-do-list .task .textTask {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    margin: auto 0 auto 20px;
    font-size: 20px;
}

.textTask.concluded {
    color: #147100;
}

.buttonActions {
    height: 22px;
    border: none;
    font-size: 20px;
    font-weight: 300;
    border-radius: 50%;
    margin-right: 2px;
    line-height: 12px;
    background-color: transparent;
}

.inputEdit {
    background-color: #00000000;
    border: none;
    outline: none;
    height: 24px;
    width: 100%;
    margin-bottom: 16px;
    padding: 0;
    color: rgba(0, 0, 0, 0.5); 
    font-weight: 700;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07D2B9;
    width: 100%;
    height: 96px;
}

#btn-open {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    box-sizing: border-box;
    height: 90px;
    width: 90px;
    bottom: 0.45em;
    font-size: 66px;
    background-color: #1A12B8;
    color: #FFF;
    border-radius: 50%;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
    text-align: center;
}

.dropdown-menu.show {
    box-sizing: content-box;
    min-width: 150px;
    width: 150px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0;
    transform: translate(-30px, -76px);
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 10px 0 10px;
    width: 142px;
    cursor: pointer;
}

.display-message {
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;
    padding: 0 18px;
    background: #FFF;
    border: 1px #000 solid;
    box-shadow: 0 4px 14px 8px rgba(0, 0, 0, 20%);
    bottom: 180px;
}

@keyframes message {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}

.display-message.ativo {
    display: flex;
    animation: message .7s forwards;
}

#message, #cancel {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
}

#message {
    color: #147100;
}

#message.deleted {
    color: #C80000;
}

#cancel {
    color: rgba(0, 0, 0, 70%);
}