body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#to-do-list {
    overflow: auto;
    height: 87%;
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    width: 25rem;
    margin: auto;
    background-color: #EEE;
}

#to-do-list .task {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#to-do-list .task .textTask {
    margin-left: 14px;
}

.actions {
    height: 22px;
    border: none;
    font-size: 20px;
    font-weight: 300;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 12px;
}

#btn-open {
    position: absolute;
    bottom: 1em;
}

.inputEdit {
    background-color: #00000000;
    border: none;
    outline: none;
    height: 24px;
    margin-bottom: 16px;
    padding: 0;
    color: rgba(0, 0, 0, 0.5); 
    font-weight: 700;
}