html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07D2B9;
    width: 100%;
    height: 96px;
}

#title {
    color: #FFF;
}

#container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 70%;
    min-width: 600px;
    min-height: 600px;
    margin: auto;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
}

#to-do-list {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#to-do-list::-webkit-scrollbar { 
	display: none;
}

.task {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    height: 68px;
    background-color: #FFF;
    border: 1px solid #DFD9D9;
}

.task:hover {
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.textTask {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    margin: auto 0 auto 20px;
    font-size: 20px;
}

.textTask.concluded {
    color: #147100;
}

@keyframes taskDeleted {
    0% {
        height: 68px;
        transform: translateX(0);
    }
    25% {
        height: 68px;
    }
    50% {
        height: 68px;
    }
    75% {
        height: 68px;
    }
    100% {
        height: 0px;
        transform: translateX(600px);
    }
}

.task.deleted {
    animation: taskDeleted  .4s forwards cubic-bezier(.58, 0,.83,.67);
}

.buttonActions {
    height: 22px;
    border: none;
    font-size: 20px;
    font-weight: 300;
    border-radius: 50%;
    margin-right: 2px;
    line-height: 12px;
    background-color: transparent;
}

.inputEdit {
    background-color: #00000000;
    border: none;
    outline: none;
    height: 24px;
    width: 100%;
    margin-bottom: 16px;
    padding: 0;
    color: rgba(0, 0, 0, 0.5); 
    font-weight: 700;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07D2B9;
    width: 100%;
    height: 96px;
}

#btn-open {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    box-sizing: border-box;
    height: 90px;
    width: 90px;
    bottom: 0.45em;
    font-size: 66px;
    background-color: #0d6efd;
    color: #FFF;
    border-radius: 50%;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
    text-align: center;
    z-index: 15;
}

.dropdown-menu.show {
    box-sizing: content-box;
    min-width: 150px;
    width: 150px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.20);
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 10px 0 10px;
    width: 142px;
    cursor: pointer;
}

.display-message {
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;
    padding: 0 18px;
    background: #FFF;
    border: 1px #000 solid;
    box-shadow: 0 4px 14px 8px rgba(0, 0, 0, 20%);
    bottom: 180px;
}

@keyframes message {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}

.display-message.ativo {
    display: flex;
    animation: message .7s forwards;
}

#message, #cancel {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
}

#message {
    color: #147100;
}

#message.deleted {
    color: #C80000;
}

#cancel {
    color: rgba(0, 0, 0, 70%);
}

.void-list-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.5); 
}