.modal {
    display: none;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.modal.ativo {
    display: flex;
}

#wrapper-modal {
    display: flex;
    position: relative;
    background-color: #FFF;
    height: 22rem;
    width: 34%;
    height: 195px;
    min-width: 454px;
    max-width: 674px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 0.5em;
    border-radius: 8px;
    box-shadow: 0 0 13px 6px rgba(0, 0, 0, 16%);
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, 100px, -30px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#wrapper-modal.ativo {
    animation: modal .22s forwards;
}

#inputTask {
    width: 90%;
    height: 48px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#btn-insert {
    width: 144px;
    height: 58px;
    border-radius: 8px;
    background-color: #0d6efd;
    font-size: 24px;
    color: #FFF;
    font-weight: 500;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 18%);
    border: none;
}