.modal{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.modal.ativo {
    display: flex;
}

#wrapper {
    display: flex;
    position: relative;
    background-color: #CDE;
    height: 22rem;
    width: 22rem;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-close-modal {
    position: absolute;
    top: -6px;
    right: -6px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

#wrapper #inputTask {
    width: 16rem;
    margin-bottom: 48px;
}

