.modal{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.modal.ativo {
    display: flex;
}

#wrapper {
    display: flex;
    position: relative;
    background-color: #FFF;
    height: 22rem;
    width: 34%;
    height: 195px;
    min-width: 454px;
    max-width: 674px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 0.5em;
    border-radius: 8px;
    box-shadow: 0 0 13px 6px rgba(0, 0, 0, 16%);
}

#btn-close-modal {
    position: absolute;
    top: -6px;
    right: -6px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

#wrapper #inputTask {
    width: 90%;
    height: 48px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#btn-insert {
    width: 144px;
    height: 58px;
    border-radius: 8px;
    background-color: #1A12B8;
    font-size: 24px;
    color: #FFF;
    font-weight: 500;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 25%);
}

