@media (pointer: coarse) {
    html, body {
        display: flex;
        height: 94vh;
    }
    #container {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
    #title {
        font-size: 64px;
    }
    .textTask {
        font-size: 40px;
    }
    .task {
        padding: 36px;
        height: 150px;
    }
    
    @keyframes taskDeleted {
        from {
            height: 150px;
            transform: translate3d(0, 0, 0);
        }
        to {
            height: 0px;
            transform: translate3d(150%, -100%, 0);
        }
    }
    
    .task.deleted {
        animation: taskDeleted  .5s forwards;
    }
    
    .inputEdit {
        height: 100%;
        margin-bottom: 32px;
    }
    
    #header, #footer {
        height: 190px;
    }
    
    #btn-open {
        display: flex;
        align-items: center;
        height: 160px;
        width: 160px;
        bottom: .68em;
        font-size: 112px;
    }

    #wrapper-modal {
        width: 90%;
        height: 380px;
        max-width: 90%;
        padding-bottom: 10px;
        margin-bottom: 18em;
        transform: scaleX(1.5);
    }



    #inputTask {
        border: 2px solid #000;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 40px;
        transform: scaleX(1.25);
        transform: scaleY(1.25);
    }

    #btn-insert {
        width: 240px;
        height: 80px;
        font-size: 32px;
    }
    
    
    .dropdown-menu.show {
        width: 300px;
        height: 350px;
    }
    
    .dropdown-item {
        height: 33.334%;
        width: 98%;
        font-size: 32px;
    }
    
    .material-icons {
        font-size: 48px;
    }

    .buttonActions{
        height: fit-content;
    }

    .display-message {
        display: none;
        height: 148px;
        width: 98%;
        box-shadow: 0 4px 14px 8px rgba(0, 0, 0, 20%);
        bottom: 520px;
    }
    
    #message, #cancel {
        font-size: 40px;
        font-weight: 400;
    }
    
    .void-list-msg {
        font-size: 40px;
        padding: 116px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5); 
    }
}